@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
}

/* Header */
#navBar
{
    display: flex;
	justify-content: space-between;
	align-items: center;
    overflow: hidden;
    padding-top: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sticky
{
    background-color: white;
    border-bottom: #4984AC;
    border-bottom-style: solid;
    border-bottom-width: .2px;
    box-shadow: 0px 15px 10px -17px #111;
}

#logoImage
{
    width: 250px;
    transition: all 0.5s ease; 
    margin-left: 65px;
}

#navBar ul
{
    list-style-type: none;
    margin-right: 110px;
    z-index: 1000;
}

#navBar ul li
{
    display: inline-block;
    padding: 0 15px 0 15px;
}

#navBar ul li a
{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px ;
    color: #28506b;
}

#navBar ul li a:hover
{
    opacity: 0.6;
    transition: 0.5s;
    color: #1B4F72;
}

/* Home Page*/
.hero-section
{
    height: 100%;
    width: 100%;
    background-image: url("/img/background3.png");
    background-repeat: no-repeat;
    background-size: cover
}

.home-container
{
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.home-container .home-text
{
    padding: 0 10px 0 80px;
    margin-left: 70px;
    margin-top: -60px;
    color: #1B4F72;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.home-container .home-text h1
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 70px;
    animation: fade-down 1s ease;
}

.home-container .home-text p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fade-left 1s ease;
}

.home-container .home-img img
{
    width: 650px;
    margin-top: 20px;
    margin-right: 110px;
    animation: fade-right 1s ease;
}

/* Button from vanir6 - Hover Buttons */
.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 15px 66px;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid #1B4F72;
    text-decoration: none;
    color: #1B4F72;
    white-space: nowrap;
    z-index: 0;
    cursor: pointer;
} 

.hbtn i {
    padding-right: 8px;
} 

.hb-fill-right::before {
    position: absolute;
    content: "";
    background: #1B4F72;
    transition-duration: 0.5s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 0px;
    height: 100%;
    opacity: 1;
}

.hb-fill-right:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
} 

.hb-fill-right:hover {
    color: white;
    background: #1B4F72;
    transition: color 0.5s ease 0s, background ease 1s;
}

/* Animations */
@keyframes fade-down
{
    0% {
        display: none;
        opacity: 0;
        transform: translateY(0);
    }

    1% {
        display: block;
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    } 
}

@keyframes fade-up
{
    0% {
        display: none;
        opacity: 0;
        transform: translateY(0);
    }

    1% {
        display: block;
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    } 
}

@keyframes fade-right
{
    30% {
        display: none;
        opacity: 0;
        transform: translateX(0);
    }

    40% {
        display: block;
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    } 
}

@keyframes fade-left
{
    30% {
        display: none;
        opacity: 0;
        transform: translateX(0);
    }

    40% {
        display: block;
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    } 
}

/* Satisfied Clients */
.satisfied-text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #1B4F72;
    margin-left: 100px;
    margin-top: -30px;
    display: flex;
}

/* Autoplay Logo Carousel */
.logo-container
{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.logo-slider
{
    height: 300px;
    margin-top: -30px;
}

.item img
{
    width: 300px;
}

/* AOS Library  */
[data-aos="fadeP"]
{
    opacity: 0;
    transform: translateY(20px);
    transition-property: opacity, transform;
    
    &.satisfied-text{
    opacity: 1;
    transform: translateY(0);
    }
}

/* About Us Page */
.about-container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.about-img img
{
    width: 720px;
    margin-left: 65px;
    margin-top: -170px;
}

.about-text
{
    padding: 0 20px 0 20px;
    margin-top: -230px;
    margin-right: 93px;
    margin-left: -50px;
}

#about-title
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #1B4F72;
    margin-bottom: 17px;
}

#about-content
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #404549;
    line-height: 45px;
    margin-bottom: 20px;
}

#about-secondContent
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #596166;
    line-height: 25px;
    margin-bottom: 50px;
}

.about-numbers
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #28506b;
}

